beautifulsoup4
Django
djangorestframework
djangotoolbox
future
jsondiff
nose
pytest
python-dateutil
requests
six
SQLAlchemy
traitlets
unittest-tap-reporting
unittest-xml-reporting
urllib3
virtualenv
virtualenv-clone
virtualenvwrappe
